.column {
  float: left;
  width: 300px;
  padding: 20px;
  margin: 15px;
}

img {
  width: 300px;
}

body {
  background-color: lightblue;
}

.dog {
  background-color: salmon;
}

.cat {
  background-color: lightgreen;
}

.other {

}
